@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display|Raleway&display=swap');

body{
    margin: 0 auto;

}

#our_story, #review, #menu, #contact_us{
    min-height: 600px;
}

.body-wrap{
    padding:0;
    margin: 0 auto;
}

#our_story, #review, #menu, #contact_us{
    padding-top:100px;
    padding-bottom:100px;
}

/* nav section */

.nav li a:hover, .navbar-default{
    background-color: transparent;
}

.my_navbar{
    border:none;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    color: #fff;
    background-color: rgba(17,17,15,.5);
}

.navbar-default .navbar-nav > li > a{
    color: #fcfcfc;
    text-shadow: 1px 1px 2px #0a0a0a;
}


.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus{
    color: #f8512f;
    background-color: rgba(17,17,15,.2);
}

nav.navbar{
    position: absolute;
    top:100;
    right:0;
    left:0;
    z-index:20;
}


.navbar-brand > img{
    margin-top:-7px;
}
/* End nav section */

/* Carousel */
.carousel-caption{
    z-index:10;
    padding-bottom:60px;
}

.carousel-inner .item{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:center;
}


.btn-primary{
    color: #fff;
    background-color:#f8512f;
    border-color:transparent;

}

.btn-primary:hover{
    background-color: #d34326;
    border-color:transparent;

}

.carousel-caption p{
    color: #f7f7f7;
    font-size:18px;
}


.main_img1{
    background-image: url('../img/wood-2.jpg');

}

.main_img2{
    background-image: url('../img/restaurant-2.jpg');
}

.main_img3{
    background-image: url('../img/farm-2.jpg');
}

.main_logo{
    height:70px;
    padding-top:70px;
    padding-bottom:70px;
}





#our_story h3{
    padding-top:5px;
    margin-top:0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700px;
}

h2{
    font-size:5em;
    font-family: 'Lobster', cursive;
    color:orange;
    margin-bottom:5px;
    margin-top:0;
    text-shadow:1px 1px 2px #0a0a0a;
}

#our_story p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300px;
    font-size:16px;

}

#story_year{
    font-family: 'Playfair Display', serif;
    font-size:200px;
    font-weight:700;
    z-index: -1;
    position: absolute;
    color:rgba(149, 147, 147, 0.2);
}

/* Reviews Section */

/* #review{
    height:100vh;
} */

.review_section{
    background-size: cover;
    background-position:center;
    background-image: url('../img/food_review.jpg');
    background-attachment: fixed;
}

.review_container{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 80px;
    margin-bottom:80px;

}

#review p{
    font-size: 20px;
    color: white;
}

/* End Reviews Section */


/* Menu Section */

.nav.nav-tabs > li > a{
    color: #f8512f;
}

.nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus{
    color: #f8512f;
    background-color:rgb(82, 82, 82);
    border: transparent;
}


.menu_section{
    background-size: cover;
    background-position:center;
    background-image: url('../img/black_linen.png');
    
}

.menu_section h2{
    margin-bottom:40px;
}


.tab-content .active{
    background-color: white;

}

.my_tab_content{
    padding:10px;
}

.menu_img{
    min-height:200px;
}

/* End Menu Section */


/* Contact Section */

#contact_us{
    background-color: #ff3f34;
    color:white;
}

#contact_us h3 p{
font-family: font-family: 'Raleway', sans-serif;
}

#contact_us h3{
    font-size:50px;
}

.my_map{
    width:100%;
}

form{
    background-color: #c23616;
    padding:20px;
    border-radius: 5px;
    margin-bottom:20px;
    
}

.my_form{
    padding-top:40px;
}


footer{
    background-color: #c23616;
    padding:20px 0;
}